{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
    <title>咨询</title>
    <link rel="stylesheet" href="{% static 'activity/css/bootstrap.min.css' %}">
    <style type="text/css">
    	.required_asterisk{
    		color: red;
    		vertical-align: middle
    	}
    	p{
    		color: red;
    	}
		#myCanvas{
			background-image: url({% static 'activity/images/consult.png' %});
			width: 100%;
			background-size: 100%;
		}
    </style>
</head>

<body>
	<canvas id="myCanvas"> 
	Your browser does not support the canvas element.
	</canvas>
    <form action="/activity/consultSubmit/" method="post">
        {% csrf_token %}
        <div class="container-fluid col-lg-12">	
            <div class="form">
                <div class="form-group">
                    <label for="name">姓名 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="name" id="name">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="companyName">公司名称 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="companyName" id="companyName">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="mobileNo">手机 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="mobileNo" id="mobileNo">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="emailAddress">邮箱 <span class="required_asterisk">*</span></label>
                    <input type="email" class="form-control required" name="emailAddress" id="emailAddress">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="questions">咨询问题 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="questions" id="questions">
                    <p></p>
                </div>                
            </div>          
            <hr>
            <div class="row">
            	<div class="form-group text-center">
    	        	<button id="btnSubmit" class="btn">提交</button>	
            	</div>
            </div>
        </div>    					      	
    </form>
	<script type="text/javascript" src="{% static 'activity/js/jquery-1.10.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'activity/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">    
        $(document).ready(function () {				
            var search_str = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
            $("#emailAddress").change(function () {
                var email_val = $("#emailAddress").val();
                if (!search_str.test(email_val)) {
                	$(this).next('p').text('请填写正确的邮箱地址');
                    $(this).parent().addClass("has-error");
                    $("#btnSubmit").prop("disabled", true);
                    return false;
                } else {
                    $(this).parent().removeClass("has-error");
                    $("#btnSubmit").prop("disabled", false);
                    $(this).next('p').text('');
                }
            });
			
			var mobile_str=/^1\d{10}$/;
			$("#mobileNo").change(function(){
				var mobileNo_val = $(this).val();
				if(!mobile_str.test(mobileNo_val)){
					$(this).next('p').text('请填写正确的手机号码');
                    $(this).parent().addClass("has-error");
                    $("#btnSubmit").prop("disabled", true);
                    return false;
				}else {
                    $(this).parent().removeClass("has-error");
                    $("#btnSubmit").prop("disabled", false);
                    $(this).next('p').text('');
                }				
			});
			
			$("input[id='mobileNo']").keyup(function () {
				var tmptxt = $(this).val();
				$(this).val(tmptxt.replace(/\D|^0/g, ''));	
			}).bind("paste", function () {
				var tmptxt = $(this).val();
				$(this).val(tmptxt.replace(/\D|^0/g, ''));
			}).css("ime-mode", "disabled");

            $(".required").change(function() {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#btnSubmit").prop("disabled", true);
                } else {
                    if ($(this).attr("id") == "emailAddress" || $(this).attr("id") == "mobileNo") {
                      
                    }else{
						$(this).parent().removeClass("has-error");
                        $(this).next('p').text('');
					}
                }
                if ($("div").find(".has-error").length <= 0) {
                    $("#btnSubmit").prop("disabled", false);
                }
            });

            $("input:checkbox").change(function() {
                if ($(this).is(":checked")) {
                    $(".activity").find('p').text('');
                    if ($("div").find(".has-error").length <= 0) {
                        $("#btnSubmit").prop("disabled", false);
                    }
                }else{
                    var cbxFlag = false;
                    $("input:checkbox").each(function(i, item){
                        if($(item).is(":checked")){
                            cbxFlag = true;
                        }
                    })

                    if(!cbxFlag){
                        var labelText = $(".activity").find("label:first").text().replace('*','');
                        $(".activity").find('p').text('请填写'+labelText);
                        $("#btnSubmit").prop("disabled", true);
                    }
                } 
            });

            $("#btnSubmit").click(function () {
                var requiredFlag = false;
                $(".required").each(function (i, item) {
                    if ($(item).val() == "") {
                        $(item).parent().addClass("has-error");
                        var labelText = $(item).prev('label').text().replace('*','');
                        $(item).next('p').text('请填写'+labelText);
                        requiredFlag = true;
                    } else {
                        $(item).parent().removeClass("has-error");
                    }
                });

  				if(requiredFlag)
  					return false;
            });

            function getCookie(c_name)
            {
                if (document.cookie.length > 0)
                {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1)
                    {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
             }
        });
    </script>
</body>
</html>