{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />  
    <title>活动报名表</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style type="text/css">
    	.required_asterisk{
    		color: red;
    		vertical-align: middle
    	}
    	p{
    		color: red;
    	}
		#myCanvas{
			background-image: url({% static 'images/banner.jpg' %});
			width: 100%;
			background-size: 100%;
		}
    </style>
</head>

<body>
	<canvas id="myCanvas"> 
	Your browser does not support the canvas element.
	</canvas>
    <form action="/activity/submit" method="post">
        {% csrf_token %}
        <div class="container-fluid col-lg-12">	
            <br>
            <div>
                <div class="form-group">
                    <span>举办方：</span>
                    <span>GTI Shanghai</span>
                </div>
                <div class="form-group">
                    <span>举办地点：</span>
                    <span>杨浦区伟成路70号瑞力创新中心1001室</span>
                </div>
                <div class="form-group">
                    <span>咨询电话：</span>
                    <span>021-63758369，李小姐</span>
                </div>
                <div class="form-group text-center">
                    <br/>
                    <span>
                        <strong>更多精彩活动 关注微信公众号</strong>
                        <br>
                        <strong>【广州科宸电脑工程上海分公司】</strong>
                    </span> 
                </div>
            </div>
            <hr>
            <div class="form">
                <div class="form-group">
                    <label for="name">姓名 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="name" id="name">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="companyName">公司名称 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="companyName" id="companyName">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="jobTitle">职位 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="jobTitle" id="jobTitle">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="mobileNo">手机 <span class="required_asterisk">*</span></label>
                    <input type="text" class="form-control required" name="mobileNo" id="mobileNo">
                    <p></p>
                </div>
                <div class="form-group">
                    <label for="emailAddress">邮箱 <span class="required_asterisk">*</span></label>
                    <input type="email" class="form-control required" name="emailAddress" id="emailAddress">
                    <p></p>
                </div>
            </div>
            <div class="activity">
                <label>参加活动场次（选1-3项）<span class="required_asterisk">*</span></label>
                <div class="form-inline">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="cb1" value="11月9日9:30-12:30">
                        11月9日9:30-12:30 &nbsp;&nbsp;
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="cb2" value="11月9日14:00-17:00">
                        11月9日14:00-17:00 &nbsp;&nbsp;
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="cb3" value="11月10日9:30-12:30">
                        11月10日9:30-12:30 &nbsp;&nbsp;
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="cb4" value="11月10日14:00-17:00">
                        11月10日14:00-17:00
                      </label>
                    </div> 
                </div>
                <p></p>
            </div>
            <hr>
            <div class="row">
            	<div class="form-group text-center">
    	        	<button id="btnSubmit" class="btn">提交</button>	
            	</div>
            </div>
        </div>    					  
    		
    	<!-- 模态框（Modal） -->
    	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	    <div class="modal-dialog">
    	        <div class="modal-content">
    	            <div class="modal-header">
    	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	                <h4 class="modal-title" id="myModalLabel">表单提交成功</h4>
    	            </div>
    	            <div class="modal-body">
    					美女图片
    					链接: https://pan.baidu.com/s/1pKTiAtt 密码: qfge
    	            </div>
    	            <div class="modal-footer">
    	                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
    	            </div>
    	        </div><!-- /.modal-content -->
    	    </div><!-- /.modal -->
    	</div>
    </form>
	<script type="text/javascript" src="{% static 'js/jquery-1.10.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">    
        $(document).ready(function () {				
            var search_str = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
            $("#emailAddress").change(function () {
                var email_val = $("#emailAddress").val();
                if (!search_str.test(email_val)) {
                	$(this).next('p').text('请填写正确的邮箱地址');
                    $(this).parent().addClass("has-error");
                    $("#btnSubmit").prop("disabled", true);
                    return false;
                } else {
                    $(this).parent().removeClass("has-error");
                    $("#btnSubmit").prop("disabled", false);
                    $(this).next('p').text('');
                }
            });
			
			var mobile_str=/^1\d{10}$/;
			$("#mobileNo").change(function(){
				var mobileNo_val = $(this).val();
				if(!mobile_str.test(mobileNo_val)){
					$(this).next('p').text('请填写正确的手机号码');
                    $(this).parent().addClass("has-error");
                    $("#btnSubmit").prop("disabled", true);
                    return false;
				}else {
                    $(this).parent().removeClass("has-error");
                    $("#btnSubmit").prop("disabled", false);
                    $(this).next('p').text('');
                }				
			});
			
			$("input[id='mobileNo']").keyup(function () {
				var tmptxt = $(this).val();
				$(this).val(tmptxt.replace(/\D|^0/g, ''));	
			}).bind("paste", function () {
				var tmptxt = $(this).val();
				$(this).val(tmptxt.replace(/\D|^0/g, ''));
			}).css("ime-mode", "disabled");

            $(".required").change(function() {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#btnSubmit").prop("disabled", true);
                } else {
                    if ($(this).attr("id") == "emailAddress" || $(this).attr("id") == "mobileNo") {
                      
                    }else{
						$(this).parent().removeClass("has-error");
                        $(this).next('p').text('');
					}
                }
                if ($("div").find(".has-error").length <= 0) {
                    $("#btnSubmit").prop("disabled", false);
                }
            });

            $("input:checkbox").change(function() {
                if ($(this).is(":checked")) {
                    $(".activity").find('p').text('');
                    if ($("div").find(".has-error").length <= 0) {
                        $("#btnSubmit").prop("disabled", false);
                    }
                }else{
                    var cbxFlag = false;
                    $("input:checkbox").each(function(i, item){
                        if($(item).is(":checked")){
                            cbxFlag = true;
                        }
                    })

                    if(!cbxFlag){
                        var labelText = $(".activity").find("label:first").text().replace('*','');
                        $(".activity").find('p').text('请填写'+labelText);
                        $("#btnSubmit").prop("disabled", true);
                    }
                } 
            });

            $("#btnSubmit").click(function () {
                var requiredFlag = false;
                $(".required").each(function (i, item) {
                    if ($(item).val() == "") {
                        $(item).parent().addClass("has-error");
                        var labelText = $(item).prev('label').text().replace('*','');
                        $(item).next('p').text('请填写'+labelText);
                        requiredFlag = true;
                    } else {
                        $(item).parent().removeClass("has-error");
                    }
                });

                var cbxFlag = false;
                $("input:checkbox").each(function(i, item){
                    if($(item).is(":checked")){
                        cbxFlag = true;
                    }
                })
  				
                if(!cbxFlag){
                    var labelText = $(".activity").find("label:first").text().replace('*','');
                    $(".activity").find('p').text('请填写'+labelText);
                    $("#btnSubmit").prop("disabled", true);
                    return false;
                }

  				if(requiredFlag)
  					return false;
            });

            function getCookie(c_name)
            {
                if (document.cookie.length > 0)
                {
                    c_start = document.cookie.indexOf(c_name + "=");
                    if (c_start != -1)
                    {
                        c_start = c_start + c_name.length + 1;
                        c_end = document.cookie.indexOf(";", c_start);
                        if (c_end == -1) c_end = document.cookie.length;
                        return unescape(document.cookie.substring(c_start,c_end));
                    }
                }
                return "";
             }
        });
    </script>
</body>
</html>