{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>浏览器定位</title>
    <link rel="stylesheet" href="http://cache.amap.com/lbs/static/main1119.css"/>
    <script type="text/javascript" src="{% static 'disk/js/jquery-1.10.0.min.js' %}"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.1&key=cd091a56e8a777853b2a62f8fafe3946"></script>
    <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
<body>
<div id='container'></div>
<div id="tip"></div>
 <script type="text/javascript">
    // 对浏览器的UserAgent进行正则匹配，不含有微信独有标识的则为其他浏览器
    var useragent = navigator.userAgent;
    if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
        // 这里警告框会阻塞当前页面继续加载
        alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
        // 以下代码是用javascript强行关闭当前页面
        var opened = window.open('about:blank', '_self');
        opened.opener = null;
        opened.close();
    }
 </script>
<script type="text/javascript">
/***************************************
由于Chrome、IOS10等已不再支持非安全域的浏览器定位请求，为保证定位成功率和精度，请尽快升级您的站点到HTTPS。
***************************************/
    var params = location.search;
    var authcode, code = "";
    if(params.length>0){
        params = "{\"" + 
                 params
                 .replace( /\?/gi, "" )
                 .replace( /\&/gi, "\",\"" )
                 .replace( /\=/gi, "\":\"" ) +
                 "\"}";
          
        params = JSON.parse( params );
        if(params.authcode)
            authcode = params.authcode;
        if(params.code)
            code = params.code;
    }
    var map, geolocation;
    //加载地图，调用浏览器定位服务
    map = new AMap.Map('container', {
        resizeEnable: true
    });
    map.plugin('AMap.Geolocation', function() {
        geolocation = new AMap.Geolocation({
            enableHighAccuracy: true,//是否使用高精度定位，默认:true
            timeout: 10000,          //超过10秒后停止定位，默认：无穷大
            buttonOffset: new AMap.Pixel(10, 20),//定位按钮与设置的停靠位置的偏移量，默认：Pixel(10, 20)
            zoomToAccuracy: true,      //定位成功后调整地图视野范围使定位位置及精度范围视野内可见，默认：false
            buttonPosition:'RB'
        });
        map.addControl(geolocation);
        geolocation.getCurrentPosition();
        AMap.event.addListener(geolocation, 'complete', onComplete);//返回定位信息
        AMap.event.addListener(geolocation, 'error', onError);      //返回定位出错信息
    });
    //解析定位结果
    function onComplete(data) {
        var str=['定位成功'];
        var lng = data.position.getLng();
        var lat = data.position.getLat()
        str.push('经度：' + lng);
        str.push('纬度：' + lat);
        if(data.accuracy){
             str.push('精度：' + data.accuracy + ' 米');
        }//如为IP精确定位结果则没有精度信息
        str.push('是否经过偏移：' + (data.isConverted ? '是' : '否'));
        document.getElementById('tip').innerHTML = str.join('<br>');
        $.ajax({
            url:'/disk/gps/',
            type:'get',
            data:{'lng':lng, 'lat':lat, 'authcode':authcode, 'code': code},
            success:function(data){
                console.log(data);
                if(data.indexOf('html')>0){
                    $("body").html(data);
                }
            },
            error:function(err){
                console.log(err);
            }
        })
    }
    //解析定位错误信息
    function onError(data) {
        document.getElementById('tip').innerHTML = '定位失败';
        $("body").html('如需要服务，请联系系统管理员！');
    }
</script>
</body>
</html>